@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

$image_size_factor: 60fr;

.ingredients_section {
    position: relative;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include within_breakpoint($extra_small_breakpoint) {
            grid-template-columns: 1fr;
        }

        .left_cell {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 64px;

            @include within_breakpoint($extra_small_breakpoint) {
                grid-template-columns: 1fr;
                row-gap: 64px;
                column-gap: unset;
            }

            strong {
                font-weight: 400;
                color: $domain_color_variant;
            }

            .text_area {
                p {
                    max-width: 256px;
                    margin-top: 8px;
                    font-size: 22px;
                    line-height: 180%;

                    @include within_breakpoint($extra_small_breakpoint) {
                        font-size: inherit;
                    }
                }
            }

            .ingredient_in_bowl_image_container {
                position: relative;
                display: inline-flex;

                .image {
                    width: 200px;
                    height: auto;
                }

                .doodle {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 24px;
                    height: auto;
                }
            }

            .oats_details_cell {
                grid-column: 1 / 3;
                display: flex;
                align-items: flex-start;

                @include within_breakpoint($extra_small_breakpoint) {
                    grid-column: unset;
                    flex-direction: column;
                }

                .ingredient_in_bowl_image_container .doodle {
                    transform: translate(calc(100% - 16px), calc(-100% + 16px));
                }

                .text_area {
                    margin-left: 32px;

                    @include within_breakpoint($extra_small_breakpoint) {
                        margin-left: unset;
                        margin-top: 32px;
                    }
                }
            }

            .peanuts_details_cell {
                position: relative;

                .peanuts_image {
                    position: absolute;
                    left: -80px;
                    top: -30px;
                    width: 300px;
                    height: auto;

                    @include within_breakpoint($extra_small_breakpoint) {
                        display: none;
                    }
                }
            }

            .dates_details_cell {
                .ingredient_in_bowl_image_container {
                    margin-top: 16px;

                    .doodle {
                        transform: translate(calc(100%), calc(-100% + 32px));
                    }
                }
            }

            .almonds_details_cell {
                grid-column: 1 / 3;

                .text_area {
                    .heading {
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        h2 {
                            position: relative;
                            z-index: 1;

                            br {
                                @include within_breakpoint($extra_small_breakpoint) {
                                    display: none;
                                }
                            }
                        }

                        img {
                            width: 256px;
                            height: auto;

                            @include within_breakpoint($extra_small_breakpoint) {
                                display: none;
                                position: absolute;
                                right: 0px;
                                top: 0px;
                                width: 128px;
                                transform: translate(0px, -50%);
                            }
                        }
                    }

                    p {
                        max-width: 440px;
                    }
                }

                @include within_breakpoint($extra_small_breakpoint) {
                    grid-column: unset;
                }
            }

            .cell {
                @include within_breakpoint($extra_small_breakpoint) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }

        .right_cell {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @include within_breakpoint($extra_small_breakpoint) {
                display: none;
            }

            .curve {
                position: absolute;
                right: 0px;
                top: 50%;
                z-index: -1;
                width: auto;
                height: 500px;
                transform: translate(0px, -50%);

                @include within_breakpoint($extra_small_breakpoint) {
                    display: none;
                }
            }

            .cookie_container {
                position: relative;
                display: inline-flex;

                .cookie {
                    position: relative;
                    width: auto;
                    height: 100vh;
                }                

                .fruit {
                    position: absolute;
                    width: auto;
                    height: 128px;
                    z-index: -1;
                }

                .fruit_0 {
                    left: 10%;
                    top: 20%;
                    transform: rotate(-40deg);
                }
                
                .fruit_1 {
                    left: 10%;
                    bottom: 10%;
                    height: 80px;
                }
                
                .fruit_2 {
                    right: 7%;
                    top: 35%;
                    height: 80px;
                    transform: rotate(40deg);
                }
                
                .fruit_3 {
                    right: 10%;
                    top: 50%;
                    transform: rotate(40deg);
                }
            }

            .get_energy_reboost_area {
                display: flex;
                // margin-top: 32px;
                justify-content: center;
                align-items: center;

                p {
                    font-size: 24px;
                    font-weight: bold;
                }

                button {
                    margin-left: 16px;
                }
            }
        }
    }
}