@import "../../../../styles/breakpoints.scss";

.product_slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6c430;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 128px;
    padding-bottom: 64px;
    overflow: hidden;
    opacity: 0px;
    animation: fade_in 300ms forwards;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 32px 16px;
        padding-top: 128px;
    }
    
    .background_prop {
        position: absolute;
        z-index: 2;
        object-fit: contain;
        
        @include within_breakpoint($extra_small_breakpoint) {
            display: none;
        }
    }

    .concentric_circle {
        $dimensions: 700px;
        position: absolute;
        z-index: 1;
        mix-blend-mode: overlay;
        width: $dimensions;
        height: $dimensions;        

        @include within_breakpoint($extra_small_breakpoint) {
            display: none;
            $dimensions: 256px;
            width: $dimensions;
            height: $dimensions;
        }
    }

    .top_left_concentric_circle {
        top: -40%;
        left: -10%;
    }
    
    .bottom_right_concentric_circle {
        right: 0%;
        bottom: 0%;
        width: 70%;
        height: auto;
        transform: rotate(-10deg) translate(10%, 55%);
        // transform: rotate(90deg);
    }

    .fruit {
        width: 180px;
        height: 180px;
    }

    .top_left_fruit_0 {
        left: 0px;
        top: 64px;
        transform: rotate(-45deg);
    }

    .top_left_fruit_1 {
        left: 148px;
        top: 128px;
        transform: rotate(20deg);
    }

    .bottom_left_fruit {
        left: 0px;
        bottom: -48px;        
    }    

    .grid {
        position: relative;
        // margin-top: 128px;
        display: grid;
        height: 100%;
        z-index: 1;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        font-size: 30px;

        @include within_breakpoint($extra_small_breakpoint) {
            grid-template-columns: 1fr;
        }

        .cookie_grid_cell {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: end;

            @include within_breakpoint($extra_small_breakpoint) {
                order: 2;
            }

            .cookie_container {
                position: relative;
                display: inline-flex;

                @include within_breakpoint($extra_small_breakpoint) {
                    margin-top: 128px;
                }

                .leaves {
                    position: absolute;
                    z-index: 9;
                    left: 30%;
                    bottom: 60%;
                    width: auto;
                    height: 120%;
                    transform: translate(-50%, 0px);
                    
                    @include within_breakpoint($extra_small_breakpoint) {
                        left: 30%;
                        bottom: 90%;
                        height: 160%;
                    }
                }
        
                .cookie {
                    position: relative;
                    z-index: 10;
                    margin-top: auto;
                    width: auto;
                    height: 256px;
                    // transform: scale(1.3);
                    // background-color: red;

                    @include within_breakpoint($extra_small_breakpoint) {
                        width: 100%;
                        height: auto;
                        transform: scale(1.3);
                    }
                }

                .badge {
                    right: 200px;
                    top: -200px + 30px;
                    width: 200px;
                    height: 200px;
                    z-index: 100;
                }

                .unique_selling_points {                
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    z-index: 30;
                    transform: translate(100%);
                    list-style-type: none;

                    @include within_breakpoint($extra_small_breakpoint) {
                        right: auto;
                        left: 0px;
                        width: 100%;
                        top: -32px;
                        transform: translate(0px, -100%);
                        font-size: 20px;
                    }
        
                    li {
                        margin-top: 32px;
                        position: relative;

                        @include within_breakpoint($extra_small_breakpoint) {
                            margin-top: 8px;
                        }
        
                        &:first-child {
                            margin-left: -64px;
                            margin-top: 0px;

                            @include within_breakpoint($extra_small_breakpoint) {
                                margin-left: 0px;
                            }
                        }
        
                        img {
                            position: absolute;
                            left: 0px;
                            bottom: 0px;
                            width: auto;
                            height: 64px;
                            transform: translate(0px, 100%);

                            @include within_breakpoint($extra_small_breakpoint) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        .right_grid_cell {
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include within_breakpoint($extra_small_breakpoint) {
                order: 1;
            }
            
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    text-align: center;
                    font-weight: unset;
                }
        
                .product_name_container {
                    margin-top: 16px;
                    position: relative;
        
                    .product_name_background {
                        display: inline-flex;
                        height: auto;
                        width: 320px;
                    }
        
                    h1 {
                        position: absolute;
                        display: inline-flex;
                        left: 50%;
                        top: 50%;
                        font-weight: revert;
                        transform: translate(-50%, calc(-50% - 10px));
                    }
                }

                .unique_selling_points {
                    width: 100%;
                    height: auto;
                    margin-top: -16px;
                }

                .buttons_area {
                    display: unset;

                    @include within_breakpoint($extra_small_breakpoint) {
                        display: none;
                    }
                }
            }
        }
    }

    .buttons_area {
        order: 3;
        margin-top: 64px;
        display: flex;
        z-index: 3;
        display: none;

        button {            
            font-size: 24px;
        }

        @include within_breakpoint($extra_small_breakpoint) {
            display: unset;
            margin-top: 32px;
        }

        .buy_now_button {
            margin-left: 32px;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-left: 16px;                
            }
        }
    }
}

@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}