@import "../../../styles/breakpoints.scss";

.benefits_section {
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 128px;
    padding-bottom: 128px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .container {
        display: flex;
        flex-direction: column;

        .main_unique_selling_points_grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 128px;

            @include within_breakpoint($large_breakpoint) {
                grid-template-columns: repeat(2, 1fr);
                gap: 128px;
            }
            
            @include within_breakpoint($small_breakpoint) {
                // grid-template-columns: 1fr;
                gap: 48px;
            }
        }

        p {
            margin-top: 64px;
            text-align: center;
            font-size: 30px;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 16px;
                font-size: revert;
            }
        }

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}