@import "../../../styles/breakpoints.scss";

.inspire_someone_today_section {
    position: relative;
    // margin-top: $nav_bar_height;
    height: 100vh;
    font-size: 60px;
    padding: 0px 16px;

    @include within_breakpoint($small_breakpoint) {
        font-size: 40px;
        // margin-top: $nav_bar_height_extra_small;
    }

    @include within_breakpoint($extra_small_breakpoint) {
        font-size: 24px;
    }

    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .bottom_area {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .paint_strokes {                
                height: 100px;
                flex-grow: 1;
                object-fit: contain;

                @include within_breakpoint($medium_breakpoint) {
                    width: 80%;
                    height: auto;
                }
            }
        }
    }       
}