.add_more_area {
    display: flex;
    flex-direction: column;

    .heading {
        font-size: 24px;
        text-align: center;
    }

    .products_grid {
        margin-top: 32px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}