@import "../../styles/breakpoints.scss";

.app_bar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 128px;
    z-index: 20000;

    @include within_breakpoint($extra_small_breakpoint) {
        height: 64px;
    }

    .container {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
    }
}