@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.top_section {
    position: relative;
    padding-bottom: 0px;
    font-size: 2.0rem;

    @include within_breakpoint($extra_small_breakpoint) {
        font-size: 1.4rem;
    }

    .tear_effect {
        left: 0px;
        bottom: 0px;
        height: 100px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include within_breakpoint($extra_small_breakpoint) {
            grid-template-columns: 1fr;
        }

        .left_grid_cell {
            display: flex;
            padding-left: 128px;
            padding-right: 128px;
            flex-direction: column;
            align-items: flex-start;

            @include within_breakpoint($extra_small_breakpoint) {
                padding: unset;
                align-items: center;
            }

            h1 {
                line-height: 140%;
                font-size: 72px;
                color: black;
        
                .domain_color {
                    color: $domain_color;
                }

                @include within_breakpoint($extra_small_breakpoint) {
                    line-height: 100%;
                    font-size: 55px;
                }
            }

            hr {
                margin-top: 32px;
                outline: none;
                border: none;
                width: 128px;
                height: 4px;
                background-color: $domain_color;
            }
        
            .description {
                margin-top: 32px;
            }

            .strong_description {
                margin-top: 64px;
                
                strong {
                    color: $domain_color;
                }
            }

            .personalized_message {
                margin-top: 64px;
                font-size: 3.0rem;
            }

            button {
                margin-top: 64px;
            }
        }

        .right_grid_cell {
            position: relative;
            display: flex;
            justify-content: flex-end;
            
            @include within_breakpoint() {
                margin-top: 32px;    
            }
            
            img {                
                width: 100%;
                height: auto;                
            }

        }
    }
}