@import "../../../styles/breakpoints.scss";

.product_info_section {
    position: relative;
    padding-top: 128px;
    padding-bottom: 128px;
    
    @include within_breakpoint($medium_breakpoint) {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .tear_effect {
        left: 0px;
        top: 0px;
        width: 100%;
        height: auto;
        transform: rotate(180deg) translate(0px, 100%);
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        @include within_breakpoint($large_breakpoint) {
            grid-template-columns: 1fr;
        }

        .left_grid_cell {
            display: flex;
            flex-direction: column;
            padding-left: 128px;
            padding-right: 128px;

            @include within_breakpoint($small_breakpoint) {
                padding-left: 16px;
                padding-right: 16px;
            }

            h2 {
                margin-top: 32px;
                font-family: "Cabinet Grotesk";                
            }
            
            p {
                font-family: 'Cabinet Grotesk';
                margin-top: 32px;
                font-size: 30px;

                @include within_breakpoint($small_breakpoint) {
                    font-size: 24px;
                }
            }

            button {
                margin-left: auto;
                margin-right: auto;
                margin-top: 60px;
                
            }
            
            .unique_selling_points {
                margin-left: auto;
                margin-right: auto;
                max-width: 80%;
                object-fit: contain;
            }
        }

        .cookie_image {
            width: 100%;
            height: 80vh;
            object-fit: contain;
        }
    }
}