@import "../../../styles/colors.scss";

.story_section {
    padding: 128px 128px;
    font-size: 2.0rem;

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .left_grid_cell {
            h1 {
                font-size: 4.0rem;
                color: black;
        
                .domain_color {
                    color: $domain_color;
                }
            }

            hr {
                margin-top: 32px;
                outline: none;
                border: none;
                width: 128px;
                height: 4px;
                background-color: $domain_color;
            }
        
            .description {
                margin-top: 32px;
            }

            .strong_description {
                margin-top: 64px;
                
                strong {
                    color: $domain_color;
                }
            }

            .personalized_message {
                margin-top: 64px;
                font-size: 3.0rem;
            }

            button {
                margin-top: 64px;
            }
        }

        .right_grid_cell {
            position: relative;

            .cookie {
                position: absolute;
                width: auto;
                height: 900px;
            }
        }
    }
}