@import "../../../styles/breakpoints.scss";

.section {
    position: relative;

    h1 {
        max-width: 600px;
    }

    hr {
        margin-top: 64px;
        width: 64px;
        height: 4px;
        outline: none;
        border: none;
        background-color: black;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .unique_selling_points_area {
        margin-top: 64px;
    }
}