@import "../../../styles/breakpoints.scss";

.section {
    position: relative;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-left: 128px;
    padding-right: 64px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 64px 16px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        @include within_breakpoint($extra_small_breakpoint) {
            align-items: center;
        }

        h1 {
            max-width: 512px;
            color: black;
        }

        hr {
            margin-top: 64px;
            width: 128px;
            height: 4px;
            outline: none;
            border: none;
            background-color: black;
        }

        .grid {
            margin-top: 64px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 64px;
            
            @include within_breakpoint($extra_small_breakpoint) {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 32px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .green_box {            
            margin-left: auto;
            margin-right: auto;
            margin-top: 32px;
            position: relative;
            display: inline-flex;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 1.2rem;

            img {
                position: absolute;
                z-index: -1;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
            }
        }

        p {
            margin-top: 32px;
            text-align: center;
            font-size: 1.4rem;
        }
    }
}