@import "../../../../styles/colors.scss";
@import "../../../../styles/breakpoints.scss";

.coupon_code_form {
    background-color: $domain_color;
    border-radius: 8px;
    padding: 32px;
    
    p {
        font-size: 2.0rem;
    }

    .input_field_area {
        margin-top: 32px;
        display: flex;


        input {
            min-height: unset;
            height: 40px;
            padding-top: 0px;
            padding-bottom: 0px;
            font-size: 16px;

            flex-grow: 1;
        }

        button {
            margin-left: 16px;
            display: inline-flex;
            min-height: unset;
            min-width: unset;
            height: 40px;
            font-size: 16px;
            justify-content: center;
            align-items: center;
        }
    }
}