@import "../../styles/breakpoints.scss";

.list_item {
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding-left: 16px;
        padding-right: 16px;
    }

    .area {
        margin-left: 32px;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-left: 16px;
        }

        &:first-child {
            margin-left: 0px;
        }
    }

    .main {
        flex-grow: 1;
    }
}