@import "../../../styles/breakpoints.scss";
@import "../../common/nav_bar/nav_bar.scss";

.section {
    padding-top: $nav_bar_height;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding-top: $nav_bar_height_mobile;
    }
    
    .product_card_container {
        height: 100%;
        margin-left: 64px;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-left: unset;
        }
    }

    .product_card_container.no_margin {
        margin-left: unset;
    }

    .carousel {
        position: relative;

        .carousel_controls {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1;
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-between;
            pointer-events: none;

            button {
                min-width: unset;
                min-height: unset;
                width: 80px;
                height: 100%;
                border: transparent;
                border-radius: unset;
                pointer-events: all;

                span {
                    font-size: 64px;
                }
            }
            
            $button_gradient_color: rgba(black, 0.1);

            .to_left_button {
                background: linear-gradient(to right, $button_gradient_color, transparent);
            }
            
            .to_right_button {
                background: linear-gradient(to left, $button_gradient_color, transparent);
            }
        }
    }
}