@import "../../../styles/colors.scss";

.textured_background_section {
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;

    .fruit {
        width: 7vw;
        height: auto;
    }

    .right_fig {
        bottom: 0px;
        right: 0px;
        transform: translate(50%, 0px);
    }

    .left_fig {
        left: 0px;
        bottom: 0px;
        transform: translate(-10%);
    }

    .left_blueberry {
        left: 0px;
        bottom: 40%;
        transform: translate(-20%, 0px);
    }

    .container {
        width: 1100px;
        text-align: center;

        .personalized_text {
            color: $domain_color_variant;
        }

        h1 {
            color: $domain_color_variant;
        }

        p {
            margin-top: 16px;
            font-size: 1.8rem;
            line-height: 150%;

            strong {
                color: $domain_color_variant;
            }
        }
    }
}