@import "../../../styles/breakpoints.scss";

.order_list_item {
    display: flex;
    background-color: #ffde95;
    padding: 32px;
    flex-direction: column;
    align-items: center;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 16px;
    }

    h2 {
        @include within_breakpoint($extra_small_breakpoint) {
            font-size: 20px;
        }
    }

    .order_items_list_container {
        margin-top: 32px;
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        
        .order_item_list_item {           
            margin-top: 32px;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 16px;
            }
            
            &:first-child {
                margin-top: 0px;
            }
            
            .product_image {
                width: 240px;
                height: 128px;
                // background-color: red;
                object-fit: contain;

                @include within_breakpoint($extra_small_breakpoint) {
                    $dimensions: 32px;

                    width: $dimensions;
                    height: $dimensions;
                }
            }
        }
    }

    button {
        margin-top: 32px;
    }
}