@import "../../../styles/breakpoints.scss";

.footer_section {
    position: relative;
    padding: 64px 64px;
    font-family: "Cabinet Grotesk";
    overflow: hidden;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 32px 16px;
    }
    
    .yellow_leaves {
        left: 20%;
        bottom: -64px;
        width: auto;
        height: 70%;
        
        @include within_breakpoint($extra_small_breakpoint) {
            left: 5%;
            height: 30%;
        }
    }
    
    .green_leaves {
        right: 10%;
        bottom: -128px;
        width: auto;
        height: 70%;
        transform: scaleX(-1) rotate(-45deg);

        @include within_breakpoint($extra_small_breakpoint) {
            right: 2%;
            height: 30%;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;

        @include within_breakpoint($medium_breakpoint) {
            grid-template-columns: 1fr;
            gap: 64px;
        }

        .grid_cell {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: green;
        }

        .first_grid_cell {
            display: flex;
            
            @include within_breakpoint($medium_breakpoint) {
                flex-direction: center;
                align-items: center;
            }

            img {
                height: auto;
                max-width: 256px;
                object-fit: contain;
            }

            .address_container {
                margin-top: 32px;
            }
        }

        .second_grid_cell {
            .input_area {
                display: flex;
                align-items: stretch;

                @include within_breakpoint($extra_small_breakpoint) {
                    flex-direction: column;
                    align-items: center;
                }

                input {
                    flex-grow: 1;
                }

                button {
                    min-width: unset;
                    width: 160px;
                    border-color: white;
                    outline-color: white;
                    color: white;

                    @include within_breakpoint($extra_small_breakpoint) {
                        width: revert;
                        margin-top: 32px;
                    }
                }                
            }

            .bottom_area {
                font-size: 12px;
                font-weight: bold;  
                margin-top: 64px;
                display: flex;
                justify-content: space-between;
                
                @include within_breakpoint($extra_small_breakpoint) {
                    flex-direction: column;
                }
            }
        }

        .third_grid_cell {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            @include within_breakpoint($medium_breakpoint) {
                justify-content: center;
            }

            a {
                margin-left: 64px;                
                transition: transform 300ms;
                
                img {
                    $dimensions: 64px;

                    max-width: $dimensions;
                    max-height: $dimensions;
                }

                &:hover {
                    transform: scale(1.1);
                }

                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
}