.container {
    display: inline-flex;
    border-radius: 3000px;
    border: 1px solid white;
    padding: 8px;
    transition: transform 300ms;

    &:hover {
        transform: scale(1.2);
    }

    img {
        width: 24px;
        height: 24px;
        object-fit: auto;
    }
}