@import "../../../../../styles/colors.scss";
@import "../../../../../styles/breakpoints.scss";

.cart_item_list_item {    
    display: flex;
    align-items: center;

    .area {
        margin-left: 32px;

        &:first-child {
            margin-left: 0px;
        }

        @include within_breakpoint($extra_small_breakpoint) {
            margin-left: 16px;
        }
    }

    .product_image_container {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;        
        border-radius: 16px;        
        flex-shrink: 0;

        @include within_breakpoint($extra_small_breakpoint) {
            width: 64px;
            height: 64px;
            padding: 4px;
        }

        .product_image {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .titles_area {
        flex-grow: 1;
        
        .product_name {            
            font-weight: bold;

            @include within_breakpoint($extra_small_breakpoint) {
                font-size: 0.7rem;
            }
        }

        .quantity_stepper {
            margin-top: 8px;
        }

        .price {
            margin-top: 8px;
            font-weight: bold;
        }
    }
}