.carousel_controls_area {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 64px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

    button {
        width: 64px;
        height: 64px;
        transition: opacity 300ms;
        pointer-events: all;
    }
}