@import "../../styles/breakpoints.scss";

.accordion {
    .header_area {
        border-bottom: 1px solid black;

        &:hover {
            background-color: #EEEEEE;
            transition: background-color 300ms;
            cursor: pointer;
        }

        .content {
            display: flex;
            padding-top: 16px;
            padding-bottom: 16px;
            justify-content: space-between;
            align-items: center;

            @include within_breakpoint($extra_small_breakpoint) {
                padding-top: 16px;
                padding-bottom: 16px;
            }

            .toggle_expand_button {
                width: 32px;
                height: 32px;
            }
        }
    }

    .content_area {
        // background-color: red;
        overflow-y: hidden;
        transition: max-height 300ms;

        .content_padding {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }
}