@import "../../styles/breakpoints.scss";

.accordion {
    .header_area {
        border-bottom: 1px solid black;

        &:hover {
            background-color: #EEEEEE;
            transition: background-color 300ms;
            cursor: pointer;
        }

        .content {
            display: flex;
            padding: 16px;
            justify-content: space-between;
            align-items: center;

            @include within_breakpoint($extra_small_breakpoint) {
                padding: 16px;
            }

            .toggle_expand_button {
                $dimensions: 24px;

                min-width: unset;
                width: $dimensions;
                height: $dimensions;
                background-color: transparent;
                color: black;
            }
        }
    }

    .content_area {
        // background-color: red;
        overflow-y: hidden;
        transition: max-height 300ms;

        .content_padding {
            padding: 32px;
        }
    }
}