.card {
    $fruits_width: 32px;

    position: relative;
    width: calc(256px);
    height: calc(280px);
    display: inline-flex;
    border-radius: 16px;
    border: 4px solid white;
    box-shadow: 8px 8px 8px #AAAAAA;
    align-items: center;    

    .corner_fruit {
        width: $fruits_width;
        height: auto;
    }

    .top_right_fruit {
        position: absolute;
        right: -($fruits_width / 2);
        top: -($fruits_width / 2);
    }

    .bottom_left_fruit {
        position: absolute;
        left: -($fruits_width / 2);
        bottom: -($fruits_width / 2);
        transform: rotate(-32deg);
    }

    .cookie_container {
        display: inline-flex;
        overflow: hidden;
        
        .cookie {            
            height: 256px;
            width: 300px;
            object-fit: contain;
            transform: translate(0px, -64px) rotate(-90deg);
        }
    }
}