@import "../../../styles/breakpoints.scss";

.brand_tile_section {
    position: relative;
    height: 100vh;
    padding: 128px 16px;    

    @include within_breakpoint($extra_small_breakpoint) {
        height: 50vh;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .plant {
        height: auto;
        width: 30%;

        @include within_breakpoint($large_breakpoint) {
            width: 50%;
        }
    }

    .plant_0 {
        left: -128px;
        top: 64px;
    }

    .plant_1 {
        right: -128px;
        bottom: 0px;
        transform: rotate(200deg);
    }

    .container {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            width: 50vw;
            height: auto;
        }
    
        .wholesome_cookie_bars_text {
            display: inline-block;
            margin-top: 32px;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 16px;
            }
        }    
    }
}