.card {
    position: relative;
    border-radius: 16px;
    border: 4px solid white;
    box-shadow: 8px 8px 8px #AAAAAA;
    justify-content: center;
    align-items: center;
    
    .front_face {
        position: relative;
        
        .flippable_indicator {
            position: absolute;
            left: 0px;
            top: 20%;
            z-index: 1;
            width: 66px;
            height: auto;
            transform: translate(-30%);
        }
        
        .main {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 32px;
            overflow: hidden;    

            .curve {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 100%;
                height: auto;
                transform: scale(1.05);
            }

            .cookie_container {
                position: relative;
                width: 100%;
                height: 100%;
        
                .fruit {
                    position: absolute;
                    width: 64px;
                    height: auto;
                }
        
                .top_fruit_0 {
                    left: 40%;
                    top: 0px;
                    width: 32px;
                    transform: translate(0px, -50%);
                }
                
                .top_fruit_1 {
                    left: 60%;
                    top: 0px;
                    transform: translate(0px, -50%);
                }
        
                .bottom_fruit {
                    left: 50%;
                    bottom: 0px;
                    transform: translate(0%, 50%) rotate(-170deg);
                }
        
                .cookie_wrapper {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    // background-color: red;
        
                    .cookie {
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        transform: rotate(3deg);
                    }
                }
            }
        }
    }

    .back_face {
        display: flex;
        flex-direction: column;
        padding: 32px;
        justify-content: center;
        text-align: center;

        p {
            font-size: 1.5rem;
        }
    }
}