@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.follow_us_section {
    position: relative;
    // background-color: #f7f7f7;
    padding-top: 128px;
    padding-bottom: 128px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 64px 16px;
    }

    .tear_effect {
        z-index: unset;
        left: 0px;
        bottom: 0px;
        width: auto;
        height: 500px;
    }

    .fruit {        
        width: auto;
        height: 10vw;
        z-index: 30;
        
        @include within_breakpoint($extra_small_breakpoint) {
            height: 10vw;
        }
    }    

    .bottom_left_blueberry {
        left: 0px;
        bottom: 32px;
    }

    .bottom_left_fig {
        left: 0px;
        bottom: calc(32px + 5vw + 32px);
        transform: translate(-50%, 0px) rotate(-30deg);
    }

    .bottom_right_fig {
        right: 0px;
        bottom: calc(32px + 5vw + 32px);
    }

    .bottom_right_plant {
        z-index: 20;
        bottom: 0px;
        right: 0px;
        width: 15vw;
        height: auto;
        transform: translate(40%) rotate(-90deg);
    }

    .container {  
        position: relative;
        display: flex;
        flex-direction: column;

        .heading_area {
            display: flex;
            justify-content: space-between;

            @include within_breakpoint($extra_small_breakpoint) {
                flex-direction: column;
                justify-content: unset;
            }

            .instagram_handle_area {
                display: flex;
                align-items: center;

                @include within_breakpoint($extra_small_breakpoint) {
                    justify-content: center;
                }
                

                .logo_container {
                    display: inline-flex;
                    border-radius: 300px;
                    background-color: $domain_color;
                    padding: 8px;

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: contain;
                    }
                }

                .instagram_handle {
                    margin-left: 8px;
                    font-size: 24px;
                }
            }
        }

        .cards_grid {
            margin-top: 64px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 32px;
            justify-items: center;

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 32px;
                grid-template-columns: 1fr;
            }

            .card {
                display: flex;
                width: 360px;
                height: 360px;
                border-radius: 32px;
                background-color: burlywood;
                border: 4px solid $domain_color_variant;

                @include within_breakpoint($extra_small_breakpoint) {
                    width: 90vw;
                    height: 90vw;
                }
            }
        }

        .take_a_scroll_button_container {
            position: relative;
            margin-top: 64px;
            align-self: center;
            display: inline-flex;
            
            .take_a_scroll_button {
            
            }

            .arrow {
                position: absolute;
                left: 0px;
                top: 50%;
                width: auto;
                height: 128px;
                transform: translate(-100%, -100%);

                @include within_breakpoint($extra_small_breakpoint) {
                    display: none;
                }
            }
        }
    }
}