@import "../../common/nav_bar/nav_bar.scss";
@import "../../../styles/animations.scss";

.carousel_slide_0 {
    position: relative;
    height: 100vh;
    padding-top: $nav_bar_height;
    
    .pineapple_0 {
        left: 0px;
        bottom: 20%;
        width: auto;
        height: 256px;
    }

    .pineapple_1 {
        left: 13%;
        bottom: 20%;
        width: auto;
        height: 128px;
        transform: rotate(-45deg);
    }

    .strawberry_0 {
        left: 7%;
        bottom: -3%;
        width: auto;
        height: 128px;
        transform: rotate(-20deg);
    }
    
    .fig_0 {
        left: 20%;
        bottom: 0%;
        width: auto;
        height: 150px;
        transform: rotate(0deg);
    }
    
    .fig_1 {
        right: 12%;
        bottom: -8%;
        width: auto;
        height: 150px;
        transform: rotate(0deg);
    }
    
    .blueberry_0 {
        right: 15%;
        bottom: 12%;
        width: auto;
        height: 90px;
        transform: rotate(0deg);
    }        
    
    .strawberry_1 {
        right: 10%;
        bottom: 25%;
        width: auto;
        height: 128px;
        transform: rotate(-25deg);
    }

    .blueberry_1 {
        right: 0% - 4%;
        bottom: 30%;
        width: auto;
        height: 256px;
        transform: rotate(0deg);
    }

    .plant {
        right: 0%;
        bottom: -3%;
        z-index: -2;
        transform: rotate(-20deg);
        width: auto;
        height: 256px;
    }

    .container {
        display: flex;        
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h1, p {
            max-width: 60%;
            animation: text_entry_animation 1000ms forwards;
        }

        h1 {
            color: #fcf0ce;
            line-height: 130%;
        }

        p {
            margin-top: 48px;
            font-size: 1.8rem;
            line-height: 150%;
            color: #f5c143;
            animation-delay: 100ms;
        }

        button {
            margin-top: 48px;
            border-radius: 8px;
            color: black;
        }
    }
}

@include sliding_fade_in($name: "text_entry_animation", $offset: 20px, $direction: "bottom_to_top");