@import "../../common/nav_bar/nav_bar.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.carousel_slide_1 {
    position: relative;
    height: 100%;
    padding-top: $nav_bar_height;    
    
    .pineapple_0 {
        left: 0px;
        bottom: 20%;
        width: auto;
        height: 20vw;

        @include within_breakpoint($extra_small_breakpoint) {            
            bottom: unset;
            top: 20vw;
        }
    }
    
    .pineapple_1 {
        left: 13%;
        bottom: 20%;
        width: auto;
        height: 15%;
        transform: rotate(-45deg);
        
        @include within_breakpoint($extra_small_breakpoint) {            
            bottom: unset;
            top: 25vw;
        }
    }

    .strawberry_0 {
        left: 7%;
        bottom: -3%;
        width: auto;
        height: 18vw;
        transform: rotate(-20deg);
    }
    
    .fig_0 {
        left: 20%;
        bottom: 0%;
        width: auto;
        height: 10vw;
        transform: rotate(0deg);
    }
    
    .fig_1 {
        right: 12%;
        bottom: -8%;
        width: auto;
        height: 10vw;
        transform: rotate(0deg);
    }
    
    .blueberry_0 {
        right: 15%;
        bottom: 12%;
        width: auto;
        height: 8vw;
        transform: rotate(0deg);

        @include within_breakpoint($extra_small_breakpoint) {
            bottom: unset;
            top: 20vw;
        }
    }        
    
    .strawberry_1 {
        right: 10%;
        bottom: 25%;
        width: auto;
        height: 10vw;
        transform: rotate(-25deg);
    }
    
    .blueberry_1 {
        right: 0% - 4%;
        bottom: 30%;
        width: auto;
        height: 20vw;
        transform: rotate(0deg);

        @include within_breakpoint($extra_small_breakpoint) {
            bottom: unset;
            top: 30vw;
        }
    }

    .plant {
        right: -5%;
        bottom: -10vw;
        z-index: -2;
        width: auto;
        height: 40vw;
        transform: rotate(-30deg);
    }

    .container {
        margin-top: 32px;
        display: grid;
        height: 100%;
        grid-template-columns: 40fr 60fr;

        @include within_breakpoint($extra_small_breakpoint) {
            grid-template-columns: 1fr;
        }

        .left_grid_cell {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include within_breakpoint($extra_small_breakpoint) {
                display: none;
            }

            img, .image {
                width: 512px;
                height: 100%;
                // object-fit: contain;
            }
        }

        .right_grid_cell {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include within_breakpoint($extra_small_breakpoint) {
                align-items: center;
            }

            // h1, p {
            //     max-width: 600px;
            // }
    
            h1 {
                margin-top: 80px;
                max-width: 800px;

                @include within_breakpoint($extra_small_breakpoint) {
                    margin-top: unset;
                }

                strong {                    
                    color: $domain_color_variant;
                }
            }
    
            button {
                margin-top: 64px;
                border-radius: 8px;
                color: black;

                @include within_breakpoint($extra_small_breakpoint) {
                    margin-top: 32px;
                }
            }
        }
    }
}