@import "../../common/nav_bar/nav_bar.scss";
@import "../../../styles/animations.scss";
@import '../../../styles/breakpoints.scss';

.carousel_slide_0 {
    position: relative;
    height: 100%;
    padding-top: $nav_bar_height;

    @include within_breakpoint($extra_small_breakpoint) {
        padding-top: $nav_bar_height_mobile;
    }
    
    .pineapple_0 {
        left: 0px;
        bottom: 30%;
        width: auto;
        height: 160px;

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }

    .pineapple_1 {
        left: 13%;
        bottom: 20%;
        width: auto;
        height: 128px;
        transform: rotate(-45deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }

    .strawberry_0 {
        left: 10px;
        bottom: -0%;
        width: auto;
        height: 128px;
        transform: rotate(-20deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }
    
    .fig_0 {
        left: 150px;
        bottom: 0%;
        width: auto;
        height: 150px;
        transform: rotate(0deg) translate(0px, 60%);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }
    
    .fig_1 {
        right: 12%;
        bottom: -8%;
        width: auto;
        height: 150px;
        transform: rotate(0deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }
    
    .blueberry_0 {
        right: 15%;
        bottom: 12%;
        width: auto;
        height: 90px;
        transform: rotate(0deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }
    
    .strawberry_1 {
        right: 10vw;
        bottom: 20vh;
        width: auto;
        height: 128px;
        transform: rotate(-25deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }

    .blueberry_1 {
        right: 0px;
        bottom: 30%;
        width: auto;
        height: 128px;
        transform: translate(30%) rotate(0deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 48px;
        }
    }

    .plant {
        right: -5%;
        bottom: 0px;
        z-index: -1;
        width: auto;
        height: 30vw;
        transform: translate(0px, 30%) rotate(-20deg);
    }

    .yellow_curve_0 {
        left: 0px;
        bottom: 0px;
        z-index: -2;
        width: auto;
        height: 300px;
        transform: translate(-80px) rotate(270deg);

        @include within_breakpoint($extra_small_breakpoint) {
            display: none;
        }
    }
    
    .yellow_curve_1 {
        right: 0px;
        bottom: 0px;
        z-index: -2;
        width: auto;
        height: 18vw;
        
        @include within_breakpoint($extra_small_breakpoint) {
            display: none;
        }
    }

    .container {
        display: flex;        
        height: 100%;
        flex-direction: column;
        padding: 32px 64px;
        justify-content: center;
        align-items: center;
        text-align: center;

        @include within_breakpoint($extra_small_breakpoint) {
            padding-left: 16px;
            padding-right: 16px;
        }

        .video {
            width: 1000px;
            height: 562.50px;
            background-color: black;

            @include within_breakpoint($extra_small_breakpoint) {
                width: 350px;
                height: 196px;
            }
        }

        h1, p {
            max-width: 60%;
            animation: text_entry_animation 1000ms forwards;
        }

        h1 {
            color: #fcf0ce;
            line-height: 130%;
        }

        p {
            margin-top: 48px;
            font-size: 1.8rem;
            line-height: 150%;
            color: #f5c143;
            animation-delay: 100ms;
        }

        button {
            margin-top: 48px;
            border-radius: 8px;
            color: black;
        }
    }
}

@include sliding_fade_in($name: "text_entry_animation", $offset: 20px, $direction: "bottom_to_top");