@import "../../../styles/colors.scss";
@import "../../../styles/breakpoints.scss";

.stepper {
    $border_radius: 8px;
    
    display: inline-flex;
    outline: 2px solid $domain_color;            
    border-radius: $border_radius;
    align-items: center;

    button {
        $dimensions: 48px;            

        border-radius: $border_radius;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        min-width: unset;
        width: $dimensions;
        height: $dimensions;

        @include within_breakpoint($extra_small_breakpoint) {
            $dimensions_extra_small: 32px;
            
            width: $dimensions_extra_small;
            height: $dimensions_extra_small;
            font-size: 10px;
        }

        &.left_button {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &.right_button {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }            

    .quantity_label {
        display: flex;
        max-width: 512px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 1.3rem;
        font-weight: bold;

        @include within_breakpoint($extra_small_breakpoint) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}