@import "./colors.scss";

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        margin-top: 32px;
        max-width: 60%;
        display: flex;
        flex-direction: column;

        label {
            margin-top: 32px;
        }
    }

    .buttons_area {
        margin-top: 32px;
        display: flex;        

        .login_button {
            margin-left: 32px;
        }
    }

    .social_login_button {
        background-color: white;
        color: $text_color;

        &:hover {
            color: $domain_color_variant;
        }
    }

    .google_login_button {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        span {
            margin-left: 8px;
        }
    }
}