$domain_color: #0e6b41;
$domain_color_variant: #f5c143;

$text_color: #333;
$primary_color: $domain_color;
$primary_color_variant: black;
$on_primary_color: white;
$background_color: #141416;

$text_color_dark_theme: white;
$primary_color_dark_theme: $domain_color;
$primary_color_variant_dark_theme: white;
$on_primary_color: black;
$background_color_dark_theme: #141416;
$primary_color_variant_dark_theme: #237374;