@import "./colors.scss";
@import "./breakpoints.scss";

.order_confirmation_page {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 128px;
    justify-content: center;

    @include within_breakpoint($medium_breakpoint) {
        padding-left: 16px;
        padding-right: 16px;
    }

    @include within_breakpoint($extra_small_breakpoint) {
        padding-top: 32px; 
        padding-bottom: 32px; 
    }

    .background_image {
        width: 100%;
        height: 100%; 
    }    

    .background_hands {
        left: 10%;
        bottom: 0px;
        width: 30%;
        height: auto;                
        object-fit: contain;
    }

    .badge {
        position: absolute;
        left: 32px;
        bottom: 32px;

        @include within_breakpoint($extra_small_breakpoint) {
            left: 16px;
            bottom: 16px;
            width: 64px;
            height: auto;
        }
    }

    .strawberry_cookie {
        position: absolute;
        left: 64px;
        top: -100px;
        width: 30%;
        height: auto;
        transform: rotate(-120deg);
    }

    .leaves {
        position: absolute;
        right: 0px;
        top: -40px;
        z-index: 50;
        width: auto;
        height: 50%;
        transform: rotate(170deg);

        @include within_breakpoint($extra_small_breakpoint) {
            height: 30%;
        }
    }

    .fruit {
        position: absolute;
        height: auto;
        width: 128px;

        @include within_breakpoint($extra_small_breakpoint) {
            width: 60px;
        }
    }

    .strawberry {
        left: -16px;
        top: 32px;    
        transform: rotate(30deg);
    }

    .blueberry {
        right: -16px;
        bottom: 32px;    
    }

    .fig {
        right: 20%;
        top: 3%;

        @include within_breakpoint($extra_small_breakpoint) {
            right: 40%;
        }
    }
    
    .main_content_container {
        margin-left: auto;
        display: flex;
        width: 60%;
        background-color: white;
        padding: 64px;
        flex-direction: column;
        align-items: stretch;
        text-align: center;
        font-family: "Cabinet Grotesk";

        @include within_breakpoint($large_breakpoint) {
            margin-left: revert;
            width: unset;
        }

        @include within_breakpoint($medium_breakpoint) {
            padding-left: 16px;
            padding-right: 16px;
        }

        @include within_breakpoint($extra_small_breakpoint) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
        h1 {
            @include within_breakpoint($extra_small_breakpoint) {
                font-size: 28px;
            }

            br {
                display: none;

                @include within_breakpoint($extra_small_breakpoint) {
                    display: unset;
                }
            }
        }

        .main_text {
            margin-top: 32px;
            font-size: 30px;

            @include within_breakpoint($large_breakpoint) {
                font-size: 24px;
            }

            @include within_breakpoint($extra_small_breakpoint) {
                font-size: revert;
            }
        }

        .track_your_order_button {
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
            min-width: unset;
            outline-color: $text_color;
            outline-width: 3px;
            padding-left: 64px;
            padding-right: 64px;
            color: $text_color;
            color: black;

            &:hover {
                outline-color: $domain_color;
                color: $domain_color;
            }

            @include within_breakpoint($extra_small_breakpoint) {
                margin-top: 16px;
                padding: 8px;
            }
        }

        .secondary_text {
            margin-top: 16px;
            font-size: 30px;
            font-family: "Gloria Hallelujah";

            @include within_breakpoint($extra_small_breakpoint) {
                font-size: revert;
            }
        }

        .to_home_page_button {
            margin-left: auto;
            margin-top: 32px;
            font-weight: unset;
            letter-spacing: 4px;
        }
    }
}