@import "../styles/breakpoints.scss";

.order_page {
    width: 100vw;
    padding: 128px;
    font-family: "Cabinet Grotesk";

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 32px 16px;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: "Cabinet Grotesk";
    }

    .informal_message {
        font-family: "Gloria Hallelujah";
        font-size: 40px;
        font-weight: bold;
        margin-top: 32px;

        @include within_breakpoint($extra_small_breakpoint) {
            margin-top: 16px;
            font-size: revert;
        }
    }

    .main_content_container {
        display: flex;
        width: 100%;
        padding: 128px;
        flex-direction: column;
        align-items: center;
        background-color: white;

        @include within_breakpoint($extra_small_breakpoint) {
            padding: 16px;
        }
        
        .orders_list_container {
            margin-top: 32px;
            flex-grow: 1;
            width: 100%;

            .order_list_item {
                margin-top: 32px;   
    
                &:first-child {
                    margin-top: 0px;
                }
            }
        }
    }
}