@import "../styles/breakpoints.scss";

.order_page {
    width: 100vw;
    padding: 128px;

    @include within_breakpoint($extra_small_breakpoint) {
        padding: 32px 16px;
    }

    .main_content_container {
        display: flex;
        width: 100%;
        padding: 128px;
        flex-direction: column;
        background-color: white;

        @include within_breakpoint($extra_small_breakpoint) {
            padding: 16px;
        }
        
        .orders_list_container {
            margin-top: 32px;
            flex-grow: 1;

            .order_list_item {
                margin-top: 32px;
    
                &:first-child {
                    margin-top: 0px;
                }
            }
        }
    }
}